{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <!-- In your Django template (e.g., base.html) -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!--- bootstrap cdn css -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--- end of bootstrap cdn css -->


    <!--- about page linking style -->
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <!--- end of about page linking style -->

    <!--- start of contact page linking style -->
    {% if title == 'Contact' %}
    <link href="{% static 'css/emailSend.css' %}" rel="stylesheet">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init({
                publicKey: "efI7RzSvFQyYdcGP4",
            });
        })();
    </script>
    {% endif     %}
    <!--- end of contact page linking style -->

    <!--- shop page linking to style -->
    {% if title == 'Shop' %}
        <link href="{% static 'css/product_cart.css' %}" rel="stylesheet">
    {% endif %}
    <!--- end of shop page linking to style -->

    <!--- link to cart style -->
    {% if title == 'Cart' %}
        <link href="{% static 'css/cart.css' %}" rel="stylesheet">
    {% endif %}
    <!--- end of link to cart style -->

    <!--- product detail style -->
    {% if title == 'ProductDetails' %}
        <style>
            body {
                background-color: #f8f9fa;
            }
            .product-img {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
            .star-rating i {
                color: #ffc107;
            }
            .quantity-input {
                width: 70px;
            }
            @media (max-width: 768px) {
                .product-img {
                    height: 300px;
                }
            }
            .price {
                font-size: 1.5rem;
                font-weight: bold;
            }
            .discount-price {
                text-decoration: line-through;
                color: gray;
                margin-right: 10px;
            }
        </style>
    {% endif %}
    <!--- end of product detail style -->

    <!--- check out style -->
    {% if title == 'Checkout' %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/checkout.css' %}" type="text/css">
    {% endif %}
    <!--- end of checkout style -->

    <!--- start of swiper slider style -->
    {% if title == 'Index' %}
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Demo styles -->
    <style>
        html,
        body {
          position: relative;
          height: 100%;
        }

        :root  {
            --swiper-theme-color: #acacac;
        }

        .swiper {
            width: 100%;
            height: 720px;
        }

        .swiper-slide {
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:0 150px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .autoplay-progress {
          position: absolute;
          right: 16px;
          bottom: 16px;
          z-index: 10;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: var(--swiper-theme-color);
        }

        .autoplay-progress svg {
          --progress: 0;
          position: absolute;
          left: 0;
          top: 0px;
          z-index: 10;
          width: 100%;
          height: 100%;
          stroke-width: 4px;
          stroke: var(--swiper-theme-color);
          fill: none;
          stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
          stroke-dasharray: 125.6;
          transform: rotate(-90deg);
        }

        .swiper-button-next  , .autoplay-progress  {
            {#background-color: red;#}
            margin-right:60px;
        }

        .swiper-button-prev {
            {#background-color: red;#}
            margin-left:60px;
        }
    </style>
    {% endif %}
    <!--- end of swiper slider style -->

</head>
<body>
    <div>
        <div class="m-0 p-0"  id="app">

            <!-- header -->
            {% if title != 'payment_page' %}
            <div class="bg-light p-0 mb-4 ">
                <nav class="navbar navbar-expand-lg m-0 p-0 px-5 py-3">
                  <div class="container-fluid p-0">

                  <a href="{% url 'index' %}" class="navbar-brand text-decoration-none text-dark">
                      <h1 class="m-0 fs-1 fw-semibold mb-2">
                          <span class="text-danger">S</span><span class="text-info">h</span><span class="text-warning">o</span><span class="text-secondary">pier.</span>
                      </h1>
                  </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                              <a class="nav-link {% if title == 'Index' %} active text-decoration-underline text-danger{% endif %}" href="{% url 'index' %}">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link {% if title == 'Shop' %} active text-decoration-underline text-danger{% endif %}" href="{% url 'shop' %}">Shopping</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link {% if title == 'About' %} active text-decoration-underline text-danger{% endif %}" href="{% url 'about' %}">About</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link {% if title == 'Contact' %} active text-decoration-underline text-danger{% endif %}" href="{% url 'contact' %}">Contact</a>
                          </li>
                      </ul>
                        <div>
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                  <a class="nav-link {% if title == 'Cart' %} active text-decoration-underline text-primary{% endif %}
                                            position-relative
                                    "
                                     style="font-size:20px;"
                                     href="{% url 'cart' %} ">
                                        <i class="fa-solid fa-cart-plus"></i>
                                        <p class="position-absolute badge rounded-pill bg-danger text-white" style="font-size:9px;top:3px;left:20px;">
                                            [[ cart_qty ]]
                                        </p>
                                  </a>
                              </li>
                              <li class="nav-item d-none">
                                  <a class="nav-link {% if title == 'Index' %} active text-decoration-underline text-danger{% endif %}"
                                     style="font-size:20px;"
                                     href="#">
                                    <i class="fa-solid fa-user-secret"></i>
                                  </a>
                              </li>
                          </ul>
                        </div>
                    </div>
                  </div>
                </nav>
            </div>
            {% endif %}
            <!-- end of header -->

            <!-- slider -->
            {% if title == 'Index' %}
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for slider in sliders %}
                    <div class="swiper-slide" >
                        <div class="col-xl-6 h-100 p-2 h-100 d-flex justify-content-center align-items-center">
                            <div class="ps-5 position-relative" style="width:600px;">
                                <p class="display-1 fw-semibold">
                                    {{ slider.title }} <br>
                                    {{ slider.collection }}
                                </p>
                                <p class="position-absolute display-1 fw-semibold"
                                   style="top:50%;left:50%;transform: translate(-60%,-60%);font-size: 200px;z-index: -1;color:rgba(209,209,209,0.54);"
                                >
                                    {{ slider.year }}
                                </p>
                                <p class="text-black w-100">
                                    {{ slider.description }}
                                </p>
                                <p>
                                    <a href="{% url 'shop' %}" class="btn text-white bg-black" >show now</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 h-100 p-2 h-100 d-flex justify-content-center align-items-center">
                            <div class="box h-100">
                                <img src="static/{{ slider.image }}"
                                     style="width:100%;height:100%;object-fit: contain; background-blend-mode: multiply"
                                >
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

                {% if size >= 2 %}
                <div class="autoplay-progress">
                  <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                  </svg>
                  <span></span>
                </div>
                {% endif %}

            </div>
            {% endif %}
            <!-- end of slider -->

            <!-- content -->
            {% block content %}{% endblock %}
            <!-- end of content -->

            <!-- Footer -->
            {% if title != 'payment_page' %}
            <footer class=" text-light pt-lg-5 pb-lg-3 px-5 py-5" style="margin-top: 20vh;background-color:black">
                <div class="text-start">
                    <div class="row gy-4">
                        <!-- About -->
                        <div class="col-12 col-md-4">
                            <div class="box ">
                                <a href="{% url 'index' %}" class="text-decoration-none text-dark">
                                    <h1 class="m-0 fs-1 fw-semibold mb-2">
                                        <span class="text-danger">S</span><span class="text-info">h</span><span class="text-warning">o</span><span class="text-secondary">pier.</span>
                                    </h1>
                                </a>
                                <p>
                                  We provide quality products at affordable prices. Shop with confidence and enjoy great deals every day.
                                </p>
                            </div>
                        </div>

                        <!-- shopping & categories -->
                        <div class="col-12 col-md-3">
                            <div class="box">
                                <h3 class="mb-3 text-start">Shopping & Categories</h3>
                                <p class="m-0 p-0 mb-2">
                                    <a href="#" class="text-decoration-none text-light">
                                        <i class="fa-solid fa-mars"></i>
                                        <span class="ms-1">Men's Shopping</span>
                                    </a>
                                </p>
                                <p class="m-0 p-0">
                                    <a href="#" class="text-decoration-none text-light">
                                        <i class="fa-solid fa-venus"></i>
                                        <span class="ms-1">Women's Shopping</span>
                                    </a>
                                </p>
                            </div>
                        </div>

                        <!-- Quick Links -->
                        <div class="col-4 col-md-2">
                            <div class="box">
                                <h3 class="mb-3">Quick Links</h3>
                                <ul class="list-unstyled">
                                  <li class="mb-2">
                                      <a href="{% url 'index' %}" class="text-light text-decoration-none">
                                            <i class="fa-solid fa-house-chimney"></i>
                                            <span class="ms-1">Home</span>
                                        </a>
                                  </li>
                                  <li class="mb-2">
                                      <a href="{% url 'shop' %}" class="text-light text-decoration-none">
                                          <i class="fa-solid fa-shop"></i>
                                          <span class="ms-1">Shopping</span>
                                      </a>
                                  </li>
                                  <li class="mb-2">
                                      <a href="{% url 'about' %}" class="text-light text-decoration-none">
                                          <i class="fa-solid fa-address-card"></i>
                                          <span class="ms-1">About</span>
                                      </a>
                                  </li>
                                  <li class="mb-2">
                                      <a href="{% url 'contact' %}" class="text-light text-decoration-none">
                                          <i class="fa-solid fa-address-book"></i>
                                          <span class="ms-1">Contact</span>
                                      </a>
                                  </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Contact -->
                        <div class="col-8 col-md-3">
                            <div class="box">
                                <h3 class="mb-3">Contact Us</h3>
                                <p>
                                    <i class="fa-solid fa-phone-volume"></i>
                                    +855 10 94 77 90
                                </p>
                                <p>
                                    <i class="fa-solid fa-truck-fast"></i>
                                    mengsonly5555@example.com
                                </p>
                                <div class="mt-3">
                                  <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                                  <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                                  <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
                                  <a href="#" class="text-light"><i class="bi bi-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="border-light mt-4" />

                <div>
                    <p class="text-center m-0 p-0 py-3">
                        &copy; 2025 Meng Sonly. All rights reserved.
                    </p>
                </div>
            </footer>
            {% endif %}
            <!-- end of footer -->


        </div>
    </div>



    {% if title == 'Contact' %}
        <script src="{% static 'js/sendEmail.js' %}" ></script>
    {% endif %}

    <!--- bootstrap cdn  js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/f30f0231eb.js" crossorigin="anonymous"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  
    <!-- vue js -->
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

        const App = {
            delimiters: ['[[', ']]'],
                data() {
                    return {
                        Products: [],
                        title: 'Shop',

                        // add to cart
                        cart_list : [],
                        total_cart_count : 0,
                        total_cart_number  : [],
                        total_cart_check : [],
                        cart_item : [],
                        cart_list_detail : [],

                        // product detail
                        productDetail: {},

                        // variable
                        name : '',
                        description : '',
                        status : false,
                        price : 0,
                        discount_price : 0,
                        category : '',
                        image : '',
                        rate : 0,
                        qty:0,

                        // khmer rate per dollar
                        kh_rate : 4100,
                        delivery_fee : 2,

                        phoneNumber: '010 94 77 90',
                        email: 'mengsonly@gmail.com',
                        fullName: 'meng sonly',
                        address: 'takeo',
                        instructions: '',
                        currencyType: 'USD', // default payment method
                        buttonVisible : false,

                        payment_amount : 0,
                        current_type : '',

                        paymentData: null,
                        md5 : '',
                        orderLastId : 0,
                    };
                },
                computed: {
                    cart_qty() {
                        return this.total_cart_count;
                    },
                    totalAmount(){
                        let total = 0;
                        let totalPlusShip = 0;
                        const shippingFee = 0.010;

                        this.total_cart_number.forEach(item => {
                            if (item.status === true) {
                                let subTotal = (parseFloat(item.qty) || 0) * (parseFloat(item.price) || 0);
                                total += subTotal;
                            }
                        });

                        totalPlusShip = total + shippingFee;

                        return {
                            total: total,
                            total_usd: total.toLocaleString(),
                            total_kh: (Math.ceil(total * this.kh_rate / 100) * 100).toLocaleString(),
                            totalPlusShip: totalPlusShip,
                            {#totalPlusShip_usd: totalPlusShip.toLocaleString(),#}
                            {#totalPlusShip_kh: (Math.ceil(totalPlusShip * this.kh_rate / 100) * 100).toLocaleString(),#}
                            totalPlusShip_usd:  totalPlusShip.toFixed(2) ,
                            totalPlusShip_kh: (Math.ceil(totalPlusShip * this.kh_rate / 100) * 100) ,
                            shipping: shippingFee
                        };

                    },
                    selectedProduct(){
                        let selected = false
                        selected = this.cart_list.filter(item => {
                            return item.status === true
                        })

                        console.log("helo",selected)
                    },
                    statusCart(){
                        this.buttonVisible = this.total_cart_number.some(item => item.status === true);

                        return  this.buttonVisible
                    },
                    getSelectedCartItems(){
                        return this.total_cart_number
                            .filter(item => item.status === true) // keep only items where status is true
                                .map(item => ({
                                    id : item.id,
                                    qty: item.qty,
                                    price: item.price,
                                    name: item.name,
                                    image : item.image,
                                    p_id : item.product_id
                            }));
                    }
                },
                methods: {
                    fetchProducts() {
                        // Construct the URL dynamically
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/fetchproducts`;

                        // Perform the fetch request
                        fetch('/fetchproducts')
                            .then(res => {
                                // Check if the response is successful
                                if (!res.ok) {
                                    throw new Error(`Failed to fetch products: ${res.statusText}`);
                                }
                                return res.json();
                            })
                            .then(data => {
                                // Check if the data is an array before attempting to use it
                                if (Array.isArray(data)) {
                                    if (data.length === 0) {
                                        console.log("No products available.");
                                    } else {
                                        this.Products = data;
                                        {#console.log("Product Items : ",this.Products);#}
                                        {#console.log(`${data.length} products fetched.`);#}
                                    }
                                } else {
                                    console.error("Fetched data is not an array", data);
                                }
                            })
                            .catch(error => {
                                // Handle error and reset loading state
                                console.error("Error fetching products:", error);
                            });
                    },
                    addToCart(product) {

                        let find_index = this.cart_list.findIndex(obj => {
                            return obj.product_id === product.id
                        })

                        if( find_index > -1) {
                            this.cart_list[find_index].qty++
                        }
                        else {
                            let cart_product = {
                                status : false,
                                name : product.name,
                                price : product.price,
                                qty : 1,
                                image : product.image,
                                product_id : product.id
                            }

                            this.cart_list.push(cart_product)
                        }

                        // localStorage.setItem('cart_list',JSON.stringify(this.cart_list))

                        // Fetch the data when the component is mounted
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/addtocart/`;

                       // Send the updated cart list to the backend
                        fetch('/addtocart/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(this.cart_list) // Send cart data as JSON
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json(); // Parse the JSON response
                        })
                        .then(data => {
                            console.log('Cart data successfully sent to backend:', data);
                            this.cart_count();
                        })
                        .catch(error => {
                            console.error('There was an error with the fetch operation:', error);
                        });

                        Swal.fire({
                          position: "center",
                          icon: "success",
                          title: "Your product has been added to cart",
                          showConfirmButton: false,
                          timer: 1000
                        });

                        this.cart_list = [];
                    },
                    cart_count(){
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/cartcount`;

                        fetch('/cartcount')
                            .then(res => {
                                if (!res.ok) {
                                    throw new Error(`Failed to fetch products: ${res.statusText}`);
                                }
                                return res.json();
                            })
                            .then(data => {
                                this.total_cart_count = data;
                        });
                    },
                    total_cart() {
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/total_cart`;

                        fetch('/total_cart')
                            .then(res => {
                                if (!res.ok) {
                                    throw new Error(`Failed to fetch products: ${res.statusText}`);
                                }
                                return res.json();
                            })
                            .then(data => {
                                this.total_cart_number = data;
                        });
                    },
                    delete_cart(id) {
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/cart/delete/${id}`;
                        const csrfToken = this.getCsrfToken();

                        fetch(`/cart/delete/${id}`,{
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',  // Include CSRF token in the header
                                'X-CSRFToken': csrfToken,  // Include the CSRF token
                            }
                        })
                            .then(res => {
                                if (!res.ok) {
                                    throw new Error(`Failed to delete products: ${res.statusText}`);
                                }
                                return res.json();
                            })
                            .then(data => {
                                console.log(data);
                        });
                    },
                    getCsrfToken() {
                        return document.querySelector('[name=csrfmiddlewaretoken]').content;
                    },
                    removeCartElement(index){
                        (this.total_cart_number.length > 1) ?
                            this.total_cart_number.splice(index,1) :
                             setTimeout( () => {
                                 window.location.reload()
                             },1500);
                    },
                    subQty(id,cart_qty){
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/cart/qty/sub/${id}`;
                        console.log(id);
                        const csrfToken = this.getCsrfToken();

                        fetch(`/cart/qty/sub/${id}`,{
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                            },
                            body: JSON.stringify({ sub_qty : cart_qty }) ,
                            credentials: 'include'
                        }).then(
                            res => {
                                if (!res.ok) {
                                    throw new Error(`Failed to update products: ${res.statusText}`);
                                }
                                return res.json();
                            }
                        ).then(data => {
                            const item = this.total_cart_number.find(c => c.id === id);
                            if(item) item.qty = data.qty;
                            console.log(data);
                        });

                    },
                    addQty(id,cart_qty){
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/cart/qty/add/${id}`;
                        console.log(id);
                        const csrfToken = this.getCsrfToken();

                        fetch(`/cart/qty/add/${id}`,{
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,  // Include the CSRF token in the header
                            },
                            body: JSON.stringify({ add_qty : cart_qty })  // Send data in the request body
                        }).then(
                            res => {
                                if (!res.ok) {
                                    throw new Error(`Failed to update products: ${res.statusText}`);
                                }
                                return res.json();
                            }
                        ).then(data => {
                            const item = this.total_cart_number.find(c => c.id === id);
                            if(item) item.qty = data.qty;
                            console.log(data);
                        });
                    },
                    deleteCart(id,index){
                        Swal.fire({
                          title: "Are you sure?",
                          text: "You won't be able to revert this!",
                          icon: "warning",
                          showCancelButton: true,
                          confirmButtonColor: "#3085d6",
                          cancelButtonColor: "#d33",
                          confirmButtonText: "Yes, remove it!"
                        }).then((result) => {
                          if (result.isConfirmed) {
                            Swal.fire({
                              title: "Removed!",
                              text: "Your file has been removed.",
                              icon: "success",
                                timer:1500
                            });
                            this.delete_cart(id);
                            this.removeCartElement(index);
                          }
                        });

                    },
                    checkedCart(id,cart_status){
                        let protocol = window.location.protocol;
                        let port = window.location.port;
                        let hostname = window.location.hostname;
                        let url = `${protocol}//${hostname}:${port}/cart/status/${id}`;
                        const csrfToken = this.getCsrfToken();

                        fetch(`/cart/status/${id}`,{
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json',
                                {#'X-CSRFToken': csrfToken,   #}
                            },
                            body: JSON.stringify({ status: cart_status })
                        }).then(
                            res => {
                                if (!res.ok) {
                                    throw new Error(`Failed to update products: ${res.statusText}`);
                                }
                                return res.json();
                            }
                        ).then(data => {
                            let item = this.total_cart_number.find(c => c.id === id)
                            item.status = data.status

                            let cart_id = new Set(JSON.parse(localStorage.getItem('cart_id')) || []);

                            for (let item of this.total_cart_number) {
                                if (item.status === true) {
                                    cart_id.add(item.id);
                                }else {
                                    cart_id.delete(item.id);   // ✅ remove ID
                                }
                            }

                            localStorage.setItem('cart_id', JSON.stringify([...cart_id]));


                            console.log("cart status",data);
                        });


                        {# use in local storage#}
                        {#let find_index = this.cart_list.findIndex(obj => {#}
                        {#    return obj.id === id#}

                        {##}
                        {#if(find_index > -1) {#}
                        {#    this.cart_list[find_index].status = this.cart_list[find_index].status !== true;#}

                        {##}
                        {#localStorage.setItem('cart_list',JSON.stringify(this.cart_list))#}
                        {#console.log(this.cart_list[find_index].status)#}
                    },
                    product_detail(product) {
                        this.productDetail = product

                        console.log(this.productDetail)
                        this.name = this.productDetail.name
                        this.description = this.productDetail.description
                        this.category = this.productDetail.category
                        this.rate = this.productDetail.rate
                        this.image = this.productDetail.image
                        this.price = this.productDetail.price
                        this.discount_price = this.productDetail.discount_price
                    },
                    test(){
                        this.addToCart(this.productDetail)
                    },

                    cart_detail(){
                        fetch('/cart/cart_detail')
                            .then(res => {
                                if (!res.ok) {
                                    throw new Error('Error = ' + res);
                                }
                                return res.json();
                            }).then(data => {
                                this.cart_list = data.filter(item => item.status === true).map(item => item.id);
                                {#console.log('cart detail = ',this.cart_list)#}
                            });
                    },
                    order_detail(){
                        fetch('/cart/order_detail')
                            .then(res => {
                                if (!res.ok) {
                                    throw new Error('Error = ' + res);
                                }
                                return res.json();
                            }).then(data => {
                                this.cart_list_detail = data.map(item => item.id);
                                {#console.log(this.cart_list_detail)#}
                            });
                    },
                    qr_generate(){
                        let total_payment = (this.currencyType === 'USD') ? this.totalAmount.totalPlusShip_usd : this.totalAmount.totalPlusShip_kh;

                        fetch('/qr_generate/',{
                            method : 'POST',
                            headers: { 'Content-Type': 'application/json', 'X-CSRFToken': this.getCsrfToken() },
                            body : JSON.stringify({
                                total_payment : total_payment,
                                currency_type : this.currencyType
                            })
                        })
                        .then(async res => {
                            if (!res.ok) {
                                // backend returned HTML error page
                                const html = await res.text();
                                console.error("Backend error:", html);
                                throw new Error("Django 500 error");
                            }

                            return res.json(); // safe to parse
                        })
                        .then(data => {
                            console.log("Success:", data);

                            window.location.href = data.redirect;
                        })
                        .catch(err => console.error("Error:", err));
                    },
                    add_cart_checkout(){
                        const csrfToken = this.getCsrfToken();

                        fetch('/add_cart_checkout/',{
                            method : 'POST',
                            headers : {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken': csrfToken,  // Include the CSRF token
                            },
                            body : JSON.stringify({
                                'checkout' : this.getSelectedCartItems
                            })
                        }).then( res => {
                            if(!res.ok){
                                throw new Error('Error');
                            }
                            return res.json();
                        }).then(data => {
                            console.log(data);
                            window.location.href = '/checkout';
                        });
                    },
                    add_customer_info(){
                        const  csrfToken = this.getCsrfToken();
                        let total_amount_usd = this.totalAmount.totalPlusShip_usd;
                        let total_amount_khr = this.totalAmount.totalPlusShip_kh;

                        fetch('/add_customer_info/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                            },
                            body: JSON.stringify({
                                'phoneNumber': this.phoneNumber,
                                'email': this.email,
                                'fullName': this.fullName,
                                'address': this.address,
                                'totalAmount': this.currencyType === 'USD' ?  total_amount_usd : total_amount_khr,
                                'currencyType': this.currencyType,
                                'cart' : this.cart_list,
                                'cartDetail' : this.cart_list_detail,
                            })
                        }).then(res => {
                            if (!res.ok) {
                                throw new Error('Error = ' + res);
                            }
                            return res.json();
                        }).then(data => {
                            if (data.error) throw new Error(data.error);

                            this.orderId();
                            this.qr_generate();
                        });
                    },

                    orderId(){
                        fetch('/orderId').then(res => {
                            if (!res.ok) {
                                throw new Error('Error = ' + res);
                            }
                            return res.json();
                        }).then(data => {
                            console.log(data);
                            this.orderLastId = data.id;

                            console.log('last id = ',this.orderLastId);

                            localStorage.setItem('order_id',this.orderLastId);
                        })
                    }


                },
                mounted() {
                    this.fetchProducts();
                    this.cart_count();
                    this.total_cart();
                    this.cart_detail();
                    this.order_detail();

                    // Start of Initialize Swiper
                    const progressCircle = document.querySelector(".autoplay-progress svg");
                    const progressContent = document.querySelector(".autoplay-progress span");

                    var swiper = new Swiper(".mySwiper", {
                        spaceBetween: 30,
                        centeredSlides: true,
                        loop:true,
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false
                        },
                        pagination: {
                            el: ".swiper-pagination",
                            clickable: true
                        },
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev"
                        },
                        on: {
                            autoplayTimeLeft(s, time, progress) {
                                progressCircle.style.setProperty("--progress", 1 - progress);
                                progressContent.textContent = `${Math.ceil(time / 1000)}s`;
                            }
                        }
                    });
                    // End of Initialize Swiper
                }
            };

        createApp(App).mount('#app');
    </script>
    <!-- end of vue js -->
</body>
</html>