{% extends 'base.html' %}

{% load static %}

{% block title %} Contact {% endblock %}

{% block content %}

    <div class="container-fluid ">
        <div class="container my-5 p-4">

            <div class="row">
                <div class="col-12 mb-5">
                    <h2 class="title text-center fw-semibold text-uppercase">Contact Us </h2>
                </div>
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7074.552166642912!2d104.88888525077547!3d11.564950643993583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31095173761d4a53%3A0xcd09ff2f4d326e3f!2sSETEC%20Institute!5e1!3m2!1sen!2skh!4v1756263873359!5m2!1sen!2skh" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <hr class=" text-black m-0 p-0 my-5">

            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="box">
                        <div class="contact-form">
                            <h2 class="title mb-4">Get In Touch</h2>
                            <div class="status alert alert-success" style="display: none"></div>
                                <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                                    <div class="row m-0 p-0 mb-3">
                                        <div class="col-6">
                                            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                    </div>
                                    <div class="form-group col-12 mb-4">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" cols="4" placeholder="Your Message Here"></textarea>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="submit" name="submit" class="btn btn-outline-success pull-right" value="Submit">
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                    <div class="box">
                        <!-- Contact Info -->
                        <h2 class="mb-3">📱Contact Us</h2>
                        <p>If you have any questions, feel free to reach out to us.</p>
                        <ul class="list-unstyled">
                          <li class="mb-2"><strong>Email:</strong> mengsonly@myshop.com</li>
                          <li class="mb-2"><strong>Phone:</strong> +855 10 94 77 90</li>
                          <li ><strong>Address:</strong> No. 86A, Street 110, Russian Federation Blvd (110), Phnom Penh Street 123, Phnom Penh, Cambodia</li>
                        </ul>
                        <p>We're available Monday to Saturday, 8AM – 6PM.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}