{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container my-5">
        <h1 class="mt-5 text-uppercase text-bold text-center">
            featured clothes
        </h1>
        <div class=" py-5">
            <div class="row">

                {% if feature|length > 0 %}
                    {% for f in feature %}
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="card border-secondary" style=" ">
                                    <img src="https://res.cloudinary.com/djpt59lvm/image/upload/v1759857246/{{ f.image }}" class="card-img-top" style="height: 400px;object-fit: contain">

                                    <div class="card-body text-black">
                                        <h4 class="card-title">{{ f.title }}</h4>

                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center text-danger">Have no features</p>
                {% endif %}

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="box bg-light py-5 rounded-4">
                        <p class="text-center  ">
                            <a href="{% url 'shop' %}" class="btn btn-lg btn-outline-success">
                                shop now
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}