# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log



# Virtual environment
.venv/
env/
venv/

# SQLite database
db.sqlite3

# Django
*.pot
*.pyc
*.mo
*.log
*.pot
*.py[cod]
*.sqlite3
/staticfiles/
/media/
/nginx/*
/Home/data/*

# VS Code
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env

# Docker
*.pid
