version: "3.9"

services:
  web:
    build: .
    container_name: django_web
    command: gunicorn EcommerceMidterm.wsgi:application --bind 0.0.0.0:9000
    volumes:
      - media_volume:/vol/web/media
      - static_volume:/vol/web/static
    ports:
      - "9000:9000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ecommerce_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - media_volume:/vol/web/media
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web


volumes:
  postgres_data:
  static_volume:
  media_volume:
